@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --calendar-bg-color: #262829;
  --calendar-font-color: #fff;
  --weekdays-border-bottom-color: #404040;
  --calendar-date-hover-color: #505050;
  --calendar-current-date-color: #1b1f21;
  --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
  --calendar-today-innerborder-color: transparent;
  --calendar-nextprev-bg-color: transparent;
  --next-prev-arrow-color: #fff;
  --calendar-border-radius: 16px;
  --calendar-prevnext-date-color: #484848;
  --c_point1: #ffad22;
  --c_point2: #ffe72b;
  --c_bg: #00224a;
  --c_footer_bg: #284372;
  --c_grey: #c7c7c7;
  --c_grey1: #ebe3db;
  --c_p: #fefffd;
}

* {
  padding: 0;
  margin: 0;
}

.calendar {
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  max-width: 300px;
  min-width: 255px;
  background: var(--c_p);
  color: var(--c_bg);
  margin: 1rem auto;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: normal;
  border-radius: var(--calendar-border-radius);
}

.calendar-inner {
  padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
.calendar .calendar-inner .calendar-body .number-item.on {
  background-color: var(--c_grey1);
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div {
  padding: 4px;
  min-height: 20px;
  /* line-height: 30px; */
  border: 1px solid transparent;
  margin: 4px 2px 0px;
  font-size: 0.8rem;
}
.calendar .calendar-inner .calendar-body div:nth-of-type(1) {
  color: red;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7) {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7):hover {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div > a {
  color: var(--c_bg);
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.calendar .calendar-inner .calendar-body div:hover {
  border: 1px solid var(--c_point1);
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
  display: grid;
  text-align: center;
  cursor: pointer;
  margin: 3px 0px;
  background: var(--c_grey);
  padding: 1px 0px;
  border-radius: 10px;
  width: 65%;
  margin: auto;
  font-size: 0.8rem;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
  display: flex;
  min-width: 100px;
  justify-content: center;
  align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
  text-align: right;
}

.calendar
  .calendar-inner
  .calendar-controls
  .calendar-year-month
  .calendar-year-label,
.calendar
  .calendar-inner
  .calendar-controls
  .calendar-year-month
  .calendar-month-label {
  font-weight: 500;
  font-size: 1rem;
}

.calendar .calendar-inner .calendar-body .calendar-today {
  background: var(--c_grey);
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
  outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
  color: var(--calendar-font-color);
  font-family: arial, consolas, sans-serif;
  font-size: 12px;
  text-decoration: none;
  padding: 4px 8px;
  display: inline-block;
  background: var(--calendar-nextprev-bg-color);
  margin: 6px 0 6px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
  height: 15px;
  width: 15px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path {
  fill: var(--c_bg);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
  color: var(--c_grey);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}
