@charset "utf-8";

:root {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  --mw: 1440px;
  --c_point1: #ffad22;
  --c_point2: #ffe72b;
  --c_bg: #00224a;
  --c_footer_bg: #284372;
  --c_grey: #c7c7c7;
  --c_grey1: #ebe3db;
  --c_p: #fefffd;
}
.mw {
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.wrap {
  background: linear-gradient(
      180deg,
      rgba(2, 2, 2, 0.5) 29.17%,
      rgba(0, 0, 0, 0) 50.52%,
      rgba(2, 2, 2, 0.5) 75%
    ),
    url(../images/bg.png);
  /* background-repeat: no-repeat; */
  position: relative;
  overflow: hidden;
}

/* 이용안내 */
.guide {
  background-color: #00224a80;
}
.guide_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.guide p {
  color: var(--c_p);
  margin-right: 3rem;
  font-size: 0.875rem;
}
.guide span {
  color: var(--c_point2);
  font-size: 0.875rem;
}

/* header */
.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  padding: 1rem 0;
  margin-right: 1rem;
}
.logo img {
  width: 200px;
}
nav {
  flex-grow: 1;
}

.gnb {
  display: flex;
  justify-content: space-around;
}
.gnb a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  color: var(--c_grey);
  white-space: nowrap;
  font-size: 1rem;
}
.gnb > li {
  width: calc(100% / 5);
  position: relative;
}
.gnb > li:hover {
  background-color: #00224a80;
}
.gnb > li:hover > a {
  color: var(--c_point1);
}
.gnb > li:hover .sub {
  height: 200px;
}
.gnb > li:hover > a::after {
  width: 50%;
  transform: translateX(-50%);
}
.gnb > li > a {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.25rem;
  padding: 0.75rem 0 0.5rem;
  color: var(--c_p);
  transition: 0.3s;
}
.gnb > li > a::after {
  content: '';
  background-color: var(--c_point1);
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.sub {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
}
.sub li {
  transition: 0.3s;
  background-color: #00224a80;
}
.sub a {
  transition: 0.3s;
}
.sub li:hover {
  background-color: var(--c_bg);
}
.sub li:hover a {
  color: var(--c_point1);
}
.mobile {
  display: none;
}
.person {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.person a {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-family: 'Do Hyeon', sans-serif;
  border-radius: 5px;
}
.person a:nth-of-type(1) {
  background-color: var(--c_point2);
  color: var(--c_bg);
}
.person a:nth-of-type(1):hover {
  filter: brightness(0.8);
}
.person a:nth-of-type(2) {
  background-color: var(--c_bg);
  color: var(--c_point1);
}
.person a:nth-of-type(2):hover {
  filter: brightness(0.8);
}
.icon {
  justify-content: space-between;
  align-items: center;
  display: none;
}
.icon a {
  color: var(--c_p);
  margin-right: 1.2rem;
}
.fa-solid {
  font-size: 1.8rem;
}
.ham {
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
}
.ham span {
  content: '';
  background-color: var(--c_p);
  width: 100%;
  height: 2px;
}
.ham.on span:nth-of-type(1) {
  transform: translate(0, 13.5px) rotate(-45deg);
}
.ham.on span:nth-of-type(2) {
  opacity: 0;
}
.ham.on span:nth-of-type(3) {
  transform: translate(0, -13.5px) rotate(45deg);
}

/* main */
/* sec1 */
.sec1_wrap {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
h2 {
  font-family: 'Dongle', sans-serif;
  padding: 1rem;
}
h2 span {
  color: var(--c_p);
  font-size: 3rem;
  font-weight: light;
}
h2 span em:nth-of-type(1) {
  color: var(--c_point2);
}
h2 span em:nth-of-type(2) {
  color: var(--c_point1);
}
h2 span strong {
  color: var(--c_p);
  font-size: 6rem;
  font-weight: bold;
}
.res_btn {
  color: white;
  display: flex;
  flex-direction: column;
}
.res_btn a {
  color: black;
  font-family: 'Do hyeon', sans-serif;
  font-weight: 400px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 10rem 1rem 1rem;
  position: relative;
  overflow: hidden;
}
.res_btn a span {
  font-size: 1rem;
}
.res_btn a strong {
  font-size: 2rem;
}
.res_btn a img {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 29px;
  height: 40px;
  transition: 0.3s;
}
.res_btn a:hover img {
  top: 0;
  right: 0;
  width: 78px;
  height: 90px;
}
.btn1 {
  background-color: var(--c_point2);
}
.btn2 {
  background-color: var(--c_point1);
}

/* sec2 */
.sec2 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.sec2_con {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  gap: 8px;
}
.sec2_con > * {
  border-radius: 10px;
  overflow: hidden;
}
.sec2_con h3 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.5rem;
  color: var(--c_point2);
  padding: 0.4rem 1rem;
  background-color: var(--c_bg);
}

/* 공지사항 */
.notice {
  background-color: var(--c_p);
}
.notice ul {
  padding: 1.5rem 0;
  border-radius: 0 0 10px 10px;
}
.notice li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1rem;
}
.notice li:hover {
  background-color: var(--c_point2);
}
.notice li span {
  color: var(--c_bg);
  font-size: 0.75rem;
  line-height: 2.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice li span:nth-of-type(1) {
  width: 60%;
}
.notice li span:nth-of-type(2) {
  width: 25%;
}
.notice a {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 날씨정보 */
.weather {
  background-color: #eee;
}
.weather_wrap {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  height: calc(100% - 42.78px);
}
.weather_wrap p {
  font-size: 0.875rem;
  color: #000;
}
.weather_wrap img {
  border: 1px solid red;
  width: 180px;
  height: 160px;
}

/* 팝업존 */
.popup_zone {
  height: 100%;
}
.popup_zone .swiper-slide {
  height: inherit;
}
.popup_zone a {
  display: block;
  height: inherit;
  position: relative;
}
.popup_zone img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.popup_zone a:hover img {
  transform: translateY(-50%) scale(1.2);
  filter: grayscale(0.5);
}

/* 시설안내 */
.FI_btns {
  display: flex;
}
.FI_btns button {
  border: none;
  outline: none;
  border-radius: 10px 10px 0 0;
  display: block;
  width: calc(100% / 4);
  height: 42.78px;
  background: linear-gradient(270deg, #00224a 52.43%, #1d6495 104.74%);
  text-align: center;
  color: var(--c_p);
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.FI_btns button:hover {
  background: var(--c_grey);
  color: var(--c_bg);
}
.FI_btns .on {
  background: var(--c_point1);
  color: var(--c_bg);
}

.imgs {
  position: relative;
  padding-top: 58%;
  width: 100%;
  overflow: hidden;
}
.imgs img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  object-fit: fill;
  transition: 0.5s;
}
.imgs:hover img {
  transform: translateY(-50%) scale(1.2);
  filter: grayscale(0.5);
}
.imgs > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  background-color: var(--c_footer_bg);
  padding: 1rem 0;
}
.footer_wrap {
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_wrap img {
  width: 150px;
  object-fit: cover;
}
.footer_p span {
  color: var(--c_grey1);
  font-size: 0.75rem;
  line-height: 1.6;
}
.footer_btns button {
  display: flex;
  width: 200px;
  margin: 0.5rem 1rem 0 0;
  padding-left: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: var(--c_grey1);
  background-color: var(--c_footer_bg);
  border: 1px solid var(--c_grey);
  outline: none;
  border-radius: 5px;
}

.footer_btns img {
  width: 8px;
  height: 8px;
  background-color: var(--c_footer_bg);
  float: right;
}

/* 반응형 */
@media (max-width: 1000px) {
  nav {
    display: none;
  }
  .person {
    display: none;
  }
  .icon {
    display: flex;
  }
  .ham {
    display: flex;
    cursor: pointer;
  }
  /* 모바일 메뉴 */
  .mobile {
    display: block;
    position: fixed;
    top: 120px;
    right: -300px;
    width: 200px;
    height: 100%;
    transition: 0.3s;
    z-index: 1;
    background-color: var(--c_bg);
  }
  .mobile.on {
    right: 0;
  }
  .mobile > li > a {
    display: block;
    border: 1px solid #00224a;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: start;
    cursor: pointer;
    color: var(--c_p);
    background-color: #00224a;
    transition: 0.3s;
  }
  .mobile > li > a.active {
    color: var(--c_point1);
  }
  .active,
  .mobile > li > a:hover {
    color: var(--c_point1);
  }
  .active,
  .mobile > li > a:hover::after {
    color: var(--c_point1);
    transition: 0.3s;
  }
  .mobile > li > a::after {
    content: '\002b';
    color: var(--c_p);
    font-weight: bold;
    float: right;
  }
  .mobile > li > a.active::after {
    content: '\2212';
    color: var(--c_point1);
  }
  .mobile .sub {
    display: flex;
    flex-direction: column;
    background-color: #284372;
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
  }
  .mobile .sub a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    color: var(--c_p);
  }
  .mobile .sub a:hover {
    color: var(--c_point1);
    background-color: var(--c_bg);
  }
  .mobile .active + .sub {
    height: auto;
  }
  .sec1_wrap {
    flex-direction: column;
  }
}
@media (max-width: 760px) {
  .footer_wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_p {
    padding: 0.5rem 0;
  }
  .footer_p span {
    font-size: 0.5rem;
  }
  .footer_btns {
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
  }
  .footer_btns button {
    font-size: 0.5rem;
  }
}
@media (max-width: 560px) {
  .logo img {
    width: 150px;
  }
  .sec1_wrap {
    margin-top: 0;
  }
  h2 span {
    font-size: 1.5rem;
  }
  h2 span strong {
    font-size: 3rem;
  }
  .res_btn a {
    padding: 1rem;
  }
  .res_btn a strong {
    font-size: 1.5rem;
  }
  .res_btn a img {
    display: none;
  }
  .guide {
    width: 100%;
    position: absolute;
    top: 24%;
    background-color: var(--c_bg);
  }
  .guide_wrap {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem 0;
  }
  .guide p {
    margin-right: 0;
    line-height: 2;
  }
  .guide span {
    line-height: 2;
  }
  .mobile {
    top: 74px;
  }
  .sec2 {
    margin-top: 17rem;
  }
  .sec2_con {
    grid-template-columns: repeat(auto-fill, minmax(307px, 1fr));
    grid-auto-rows: 215px;
    gap: 2rem;
  }
}
@media (max-width: 400px) {
  .guide p {
    font-size: 0.7rem;
  }
  .guide span {
    font-size: 0.7rem;
  }
}
